@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.cart {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  z-index: 5000;

  &__wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    color: var(--color-light);
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    z-index: 10;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;

    @keyframes slideDown {
      0% {
        top: -100%;
      }

      100% {
        top: 0px;
      }
    }

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }

    &__details {
      background: var(--color-light);
      color: var(--color-black);

      @include breakpoint(md) {
        width: 50vw;
        height: 100vh;
      }
    }

    &__summary {
      align-items: center;
      line-height: 1.8;
    }

    &__close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 32px;
      height: 32px;
      padding: 0;
      z-index: 10;
      color: var(--color-dark);

      @include breakpoint(md) {
        color: var(--color-light);
      }
    }
  }
}
