@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.hero {
  padding: 0 1.5rem;
  @include breakpoint(sm) {
    padding: 0 3rem;
  }
  @include breakpoint(md) {
    padding: 0 5rem;
  }
  @include breakpoint(lg) {
    padding: 0 12rem;
  }

  &__container {
    margin: auto;
    width: 100%;
    max-width: 71.25rem;
    @include breakpoint(lg) {
      max-width: 90rem;
    }
    @include breakpoint(xlg) {
      max-width: 120rem;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;

      &__item {
        grid-column-start: span 6;
        grid-column-end: span 12;

        &__hide {
          @include breakpoint(sm) {
            display: none;
          }
        }

        @include breakpoint(sm) {
          grid-column-start: span 4;
          grid-column-end: span 4;
        }

        &__small {
          grid-column-start: span 6;
          grid-column-end: span 6;
        }
      }
    }
  }

  &__breadcrumb {
    padding: 3rem;
  }
}
