@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 48em) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 62em) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 75em) {
      @content;
    }
  }
}

@mixin icon() {
  padding: 0.75rem 1rem;
  font-size: 1.4rem;
  a {
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
  }
  @include breakpoint(sm) {
    font-size: 1.7rem;
  }
}

@mixin hover() {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin image() {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@mixin header() {
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    height: 400px;
    align-self: center;

    @include breakpoint(md) {
      width: 100%;
      height: auto;
      align-self: center;
    }

    @include breakpoint(lg) {
      height: 100vh;
      width: auto;
      align-self: center;
    }
  }
}
