@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 48em) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 62em) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 75em) {
      @content;
    }
  }
}

@mixin icons() {
  font-size: 1.275rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
