@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.card {
  position: relative;

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    @include breakpoint(md) {
      padding-top: 11rem;
    }
    @include breakpoint(lg) {
      max-width: 90rem;
      padding-top: 19.8rem;
    }
    @include breakpoint(xlg) {
      padding-top: 35rem;
    }

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include breakpoint(md) {
        justify-content: center;
        flex-direction: row;
      }

      &__card {
        background-color: var(--color-white);
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
        color: var(--color-black);
        margin: 0 1.5rem 1.5rem;
        width: 25rem;
        @include breakpoint(sm) {
          width: 40rem;
        }
        @include breakpoint(md) {
          width: 60rem;
        }

        &__header {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.357rem;
          font-style: normal;
          text-transform: none;
          letter-spacing: 1.5px;
          line-height: 1.35;
          text-transform: uppercase;
          padding: 1.8rem 1.5rem;
          border-bottom: 1.5px solid var(--color-medium-gray);
          @include breakpoint(md) {
            padding: 2rem 4rem;
          }
        }

        &__content {
          padding: 1.8rem 1.5rem 3rem;
          display: block;
          @include breakpoint(md) {
            padding: 3rem 4rem 3rem;
          }
        }
      }
    }
  }
}
