@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  z-index: 5000;

  &__wrapper {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    padding: 4rem;
    background: var(--color-white);
    color: var(--color-black);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: grid;
    grid-template-rows: 1fr 1fr;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    width: 400px;
    height: 700px;

    @keyframes slideDown {
      0% {
        left: -100%;
      }

      100% {
        left: 0px;
      }
    }

    @include breakpoint(sm) {
      width: 600px;
      height: 1000px;
    }

    @include breakpoint(md) {
      width: 1000px;
      height: 700px;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(lg) {
      width: 1200px;
      height: 800px;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);

        @include breakpoint(lg) {
          max-height: 50vh;
        }
      }
    }

    &__close {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 2rem;
      padding: 0;
      z-index: 10;
      color: var(--color-black);
    }
  }
}
