@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.gallery {
  background: var(--color-light);

  &__item {
    position: relative;

    &__description {
      background: var(--color-light);
      pointer-events: none;
      position: absolute;
      padding: 2rem;
    }
  }
}
