.gallery__container {
  width: 100%;
  cursor: pointer;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
