@import './../../../styles//mixins.scss';
@import './../../../styles//variables.scss';

.galleryDescription {
  font-size: 0.7rem;
  color: var(--color-dark);
  @include breakpoint(lg) {
    font-size: 1rem;
  }

  &__title {
    font-weight: 700;
  }

  &__category {
    font-weight: 400;
  }
}
