@import './../../styles//mixins.scss';
@import './../../styles//variables.scss';

.header {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-bottom: 5rem;
  img {
    height: 400px;
    align-self: center;
    @include breakpoint(sm) {
      height: auto;
      width: 100%;
    }
    @include breakpoint(md) {
      height: 100vh;
      align-self: center;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 27%;
    overflow: hidden;
    color: var(--color-white);
    font-size: 1.257rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    @include breakpoint(lg) {
      font-size: 2.157rem;
    }

    h1 {
      line-height: 1.05;
      font-style: normal;
      font-weight: 700;
      font-size: 1.275rem;
      @include breakpoint(md) {
        font-size: 1.575rem;
        margin-bottom: 0.5rem;
      }
      @include breakpoint(lg) {
        font-size: 2.075rem;
      }
      @include breakpoint(xlg) {
        font-size: 2.875rem;
      }
    }

    h4 {
      font-size: 1.05rem;
      font-weight: 600;
      @include breakpoint(md) {
        font-size: 1.175rem;
        margin-bottom: 1.5rem;
      }
      @include breakpoint(lg) {
        font-size: 1.275rem;
      }
      @include breakpoint(xlg) {
        font-size: 1.875rem;
      }
    }
  }
}

.products {
  margin: auto;
  width: 100%;
  max-width: 71.25rem;
  padding: 2rem 1.5rem;
  @include breakpoint(sm) {
    padding: 2rem 3rem;
  }
  @include breakpoint(md) {
    padding: 2rem 5rem;
  }
  @include breakpoint(lg) {
    max-width: 90rem;
    padding: 5rem 0 10rem 0;
  }
  @include breakpoint(xlg) {
    max-width: 120rem;
  }

  &__title {
    margin: auto;
    width: 100%;
    padding-bottom: 3rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-dark);
    border-bottom: 2px solid var(--color-medium-gray);
    font-size: 1.275rem;
    @include breakpoint(lg) {
      font-size: 1.857rem;
      font-weight: 600;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding-top: 4rem;
    @include breakpoint(sm) {
      grid-gap: 2rem;
    }
  }
}
