@import './../../../styles//mixins.scss';
@import './../../../styles//variables.scss';

.cartItem {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  width: 100%;

  &__description {
    display: flex;
    align-items: center;
    width: 50%;

    &__info {
      width: 100%;
      margin-left: 1rem;
    }
  }

  &__icons {
    display: flex;
    cursor: pointer;
    align-items: center;

    p {
      border: 1px solid var(--color-black);
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.45rem;
    }
  }
}
